{% extends 'base.html' %}
{% block title %}
    <title>登录</title>
{% endblock %}

{% block styles %}
    h1 {
        text-align: center;
        margin-bottom: 20px;
    }

    #tab {
        font-size: 15px;
        margin-bottom: 10px;
        text-align: center;
    }

    #tab span {
        {#display: inline-block;#}
        padding: 10px;
        text-align: center;
        {#cursor: default;#}
    }
{% endblock %}


{% block newcontent %}
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <h1>用户登录</h1>
                </div>
            </div>
            <div class="col-md-6 offset-md-3" id="tab">
                <div class="row">
                    <div class="col-md-5"><span>用户名 / 密码</span></div>
                    <div class="col-md-2">|</div>
                    <div class="col-md-5"><span>手机验证码</span></div>
                </div>
            </div>
            <div class="logintab">
                <form class="form-horizontal" method="post" action="{{ url_for('user.login') }}?f=1">
                    <div class="form-group mb-2">
                        <div class="col-md-6 offset-md-3">
                            <input type="text" class="form-control" id="inputUsername" placeholder="username"
                                   name="username">
                            <p class="tips" style="color: red;text-align: left;margin: 0">{{ msg }}</p>
                        </div>
                    </div>
                    <div class="form-group mb-2">
                        <div class="col-md-6 offset-md-3">
                            <input type="password" class="form-control" id="inputPassword" placeholder="password"
                                   name="password">
                        </div>
                    </div>
                    <div class="form-group">
{#                        <div class="row">#}
                            <div class="d-flex col-md-6 offset-md-3">
                                <button type="submit" class="btn btn-primary col-md-5">登&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录</button>
                                <button type="reset" class="btn btn-primary col-md-5 offset-md-2">重&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;置</button>
                            </div>
{#                        </div>#}
                    </div>
                </form>
            </div>
            <div class="logintab">
                <form class="form-horizontal" method="post" action="{{ url_for('user.login') }}?f=2">
                    <div class="form-group mb-2">
                        <div class="col-md-6 offset-md-3">
                            <input type="text" class="form-control" id="inputPhone" placeholder="输入手机号码"
                                   name="phone"><span></span>
                            <p class="tips" style="color: red;text-align: left;margin: 0">{{ msg }}</p>
                        </div>
                    </div>
                    <div class="form-group d-flex mb-2">
                        <div class="col-md-4 offset-md-3">
                            <input type="text" class="form-control" id="inputCode" placeholder="输入验证码"
                                   name="code">
                        </div>
                        <div class="col-md-2 ps-1">
                            {# btn-block拉升至父级元素的100%宽度，https://blog.csdn.net/yangaoyuan1999/article/details/111241188
                            bootstrap3用btn-block，bootstrap5用w-100即可实现拉升至父级元素的100%宽度 #}
                            <input type="button" id="btnCheck" class="btn btn-info w-100" value="发送验证码"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="d-flex offset-md-3 col-md-6">
                            <button type="submit" class="btn btn-primary col-md-5">登&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录</button>
                            <button type="reset" class="btn btn-primary col-md-5 offset-md-2">重&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
{#    <form class="form-horizontal" href="{{ url_for('user.login') }}" method="post">#}
{#        <div class="form-group">#}
{#            <label for="inputusername" class="col-sm-2 control-label">用户名</label>#}
{#            <div class="col-sm-10">#}
{#              <input type="text" class="form-control" id="inputusername" name="username" placeholder="username">#}
{#            </div>#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label for="inputPassword" class="col-sm-2 control-label">密码</label>#}
{#            <div class="col-sm-10">#}
{#              <input type="password" class="form-control" id="inputPassword" name="password" placeholder="password">#}
{#              <p style="color: red">{{ msg }}</p>#}
{#            </div>#}
{#        </div>#}
{##}
{#        <div class="form-group">#}
{#        <div class="col-sm-offset-2 col-sm-10">#}
{#          <button type="submit" class="btn btn-default">登录</button>#}
{#        </div>#}
{#        </div>#}
{#    </form>#}
{% endblock %}

{% block scripts %}
    <script>
        $(function () {
            // 显示|隐藏 登录方式
            $(".logintab").hide();
            $(".logintab").first().show();
            $("#tab span").each(function (i) {
                $(this).click(function () {
                    $(".logintab").hide();
                    $(".logintab").eq(i).show();
                })
            });

            //发送验证码
            $('#btnCheck').click(
                function () {
                    let phone = $('#inputPhone').val();
                    let span_obj = $('#inputPhone').next('span');
                    span_obj.css({'color':'red','font-size':'12px'});
                    if(phone && phone.length==11){
                        //发送ajax；下面data为所请求路由返回的json数据
                        $.get('{{ url_for('user.send_message') }}',{phone:phone},function (data) {
                            if(data.code==200){
                                alert(data.msg)
                            }else{
                                alert(data.msg)
                            }
                        })
                    }else{
                        {# 浏览器console看不到输出，将default level左边框里面的字符串删除即可 #}
                        console.log(phone.length)
                        span_obj.text('必须输入11位手机号码')
                    }
                }
            )
        })
    </script>
{% endblock %}